@media all {
  body {
    font-family: Helvetica, sans-serif;
    margin: 50px;
    background-color: #f1f2ee;
    /* transition: 0.25s ease-in-out; */
  }

  section {
    margin: 25px 0px;
  }

  p {
    /* max-width: 60%; */
    margin: 0;
    margin-bottom: 0.5em;
  }

  code {
    font-family: Monaco, monospace;
    border-radius: 5px;
  }

  pre code {
    background-color: #d1d1d0;
    font-family: "Monaco", monospace;
    display: block;
    border: 0.5px solid rgb(216, 216, 216);
    font-size: 0.8em;
    line-height: 1.1em;
    letter-spacing: -0.05em;
    word-break: break-all;
    padding: 15px 20px 12px 22px;
    overflow-x: auto;
    margin: 0;
  }

  .button-nav {
    color: #f54209;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 10px 14px;
    /* transition: border-color 0.25s ease-in-out; */
    margin-left: 8px;
    font-weight: normal;
  }

  .button-nav:hover {
    transition: 0.25s ease-in-out;
    border-color: #f54209;
    /* font-weight: 500; */
    color: black;
    text-decoration: none;
  }

  /* .button-nav:focus {
    transition: 0.25s ease-in-out;
    border: 2.2px #f54209 solid;
    border-radius: 6px;
    padding: 10px 14px;
  } */

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    padding: 0px;
    margin: 0px;
    /* width: fit-content; */
    /* border-bottom: 1.5px solid #f540092d; */
  }

  .nav-list li {
    margin-bottom: 10px;
  }

  img {
    border-radius: 6px;
    object-fit: cover;
  }

  a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    width: fit-content;
    text-wrap: nowrap;
  }

  a:hover {
    transition: 0.1s ease-in-out;
    color: #f54209;
    text-decoration: dotted underline;
    /* padding: 10px 14px; */
  }

  a:focus {
    transition: 0.1s ease-in-out;
    /* border: 2px solid #f54209; */
    /* padding-left: 14px; */
    border-radius: 6px;
  }

  a img {
    transition: transform 0.1s ease-in-out;
    border-radius: 6px;
  }

  a:hover img {
    transform: rotate(-2deg) scale(0.9);
    box-shadow: 5px 5px 10px #888888;
  }

  a:focus img {
    outline: 2px solid grey;
    transform: rotate(0) scale(1);
  }

  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
  }

  input {
    width: fit-content;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: auto;
  }

  /* Style label and input on hover and focus */
  label:hover,
  input:hover,
  input:focus {
    border-color: #f54209;
  }

  .checkout {
    font-weight: normal;
    text-decoration: none;
    width: 100%;
    padding: 8px;
    display: inline-block;
    /* box-sizing: border-box; */
    /* border: 1px solid #ccc; */
    border-radius: 6px;
  }

  .checkout:focus {
    border: 2px solid #f54209;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #2b2b2b;
  }
  .big-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
  }

  .product-image{
    width: 100%;
    height: auto;
  }

  .product-image-container{
    width: 65%;
    height: 100%;
    border-radius: 6px;
  }

  .product-info-container {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    width: 30%;
  }
  
  @media screen and (max-width: 800px) {
    .header {
      flex-direction: column;
    }
  
    .product-image-container{
      width: 100%;
    }
  
    .product-info-container {
      border-radius: 6px;
      width: 100%;
    }
  }

  .companyUpdates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    padding: 20px;
    border: 1px solid #f54209;
    border-radius: 6px;
  }

  .companyUpdateHeader {
    display: flex;
    padding-right: 10px;
    max-width: 50%;
  }

  .companyUpdateInfo {
    display: flex;
    padding-top: 25px;
    max-width: 70%;
  }

  @media screen and (max-width: 800px) {
    .companyUpdates {
      flex-direction: column;
    }
  }

  .productListing {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-around;
  }

  .price {
    font-weight: bold;
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
  }

  /* cart section */
  .checkout-cart li {
    list-style: none;
  }

  .product-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 16px;
    /* background: red; */
  }

  .product-info {
    display: flex;
    /* background: blue; */
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
  }

  .product-info p {
    text-wrap: nowrap;
  }

  .name {
    font-weight: medium;
  }

  .quantity {
    color: grey;
  }

  .payment-form {
    padding-left: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .payment-form div {
    flex-basis: 1;
    flex-grow: 1;
    flex-shrink: 1;
    width: calc(50% - 8px);
  }

  .payment-form input {
    width: 100%;
  }

  .discount {
    text-align: right;
    border-radius: 50px;
    width: fit-content;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: flex;
    background: white;
    width: min-content;
    margin-left: auto;
  }

  .discount input[type="text"] {
    border: none;
    border-radius: 50px;
  }

  .discount input[type="submit"] {
    border: 0.5px solid #ccc;
    border-radius: 50px;
  }

  .review-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #f54209;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 10px;
    /* max-width: 1053px; */
  }

  .review-container h4 {
    margin: 0;
    padding-bottom: 8px;
  }

  .review-person {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    /* align-items: flex-start; */
  }

  .review-person p {
    padding-top: 2px;
  }

  .avatar {
    vertical-align: middle;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    /* border: 1px solid #f54209; */
  }

  .review-person p {
    font-weight: lighter;
    padding-left: 8px;
  }

  .aboutUs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .aboutHeader {
    display: flex;
    min-width: 30%;
  }

  .aboutParagraph {
    display: flex;
    padding-top: 20px;
    max-width: 70%;
  }

  @media screen and (max-width: 800px) {
    .aboutUs {
      flex-direction: column;
    }
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .contactHeader {
    display: flex;
    padding-right: 24%;
  }

  .contactAddress {
    display: flex;
    padding-top: 20px;
    padding-right: 10%;
  }

  .contactPhone {
    display: flex;
    padding-top: 20px;
  }
}



.max-width {
  max-width: 1200px;
}

.comments-section-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.comment-section-container li {
  list-style: none;
  justify-content: center;
  padding-top: 2%;
}

.add-comment-section {
  max-width: 928px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.add-comment-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding-bottom: 35px;
  justify-content: baseline;
  align-items: baseline;
  /* margin-bottom: 80px; */
}

.comment-headline h3 {
  width: 120%;
  padding-left: 28px;
}

.review-form {
  /* padding-left: 48px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.reivew-button {
  width: 100;
}

.review-form div {
  flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1;
  width: calc(50% - 8px);
}

.review-form input {
  width: 100%;
}

.name-input {
  width: 10vw;
}

.review-input {
  height: 10vh;
  width: 100%;
}

.footer {
  margin-top: 100px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box h6 {
  /* background-color: #f54209; */
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 13px;
  color: rgb(69, 69, 69);
}

.nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.button-footer {
  color: #f54009cb;
  text-decoration: none;
  transition: 0.25s ease-in-out;
  border: none;
  border-radius: 6px;
  padding: 0px;
  margin: 0px;
  transition: border-color 0.25s ease-in-out;
  font-weight: normal;
  font-size: 28px;
}

.button-footer:hover {
  transition: 0.1s ease-in-out;
  color: #f54209;
  text-decoration: dotted underline;
}

.micro-info {
  list-style: none;
  padding: 0px;
  font-size: 14px;
  font-weight: 500;
  color: #2b2b2b;
}

.micro-info li {
  padding: 0;
  margin: 0;
  line-height: 10px;
}

.banner {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: flex-start;
  margin-top: 60px;
}

.image-container {
  width: 60%;
  margin: 0px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  /* border: 1px #000000 solid; */
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  /* align-items: ; */
  margin: 0px;
  justify-content: space-between;
}

.content-messaging h1 {
  margin: 15px;
  line-height: 1.3;
}
.content-messaging p {
  margin: 15px;
  line-height: 1.3;
  width: 80%;
}

.button-reverse {
  color: #f54209;
  text-decoration: none;
  font-size: 16px;
  border: 1.5px #f54209 solid;
  border-radius: 6px;
  padding: 10px 14px;
  display: inline-block;
  /* transition: border-color 0.25s ease-in-out; */
  margin-left: 0;
  font-weight: normal;
}

.margin {
  margin-left: 8px;
}

.button-reverse:hover {
  transition: 0.25s ease-in-out;
  /* background-color: black; */
  /* border-color: #000000; */
  background-color: #f54209;
  /* font-weight: 500; */
  color: white;
  text-decoration: none;
}

.triproduct-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-simplified {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 28px;
  margin-right: 28px;
}

.product-line {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 14px;
}

.content-info a {
  font-size: 15px;
  font-weight: 500;
  width: 80%;
  text-wrap: wrap;
  padding-right: 16px;
}

.price-tag p {
  font-size: 15px;
  font-weight: 300;
  width: 20%;
  margin: 0;
}

.event-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  /* gap: 10px; */
}

.event-banner-message h3 {
  margin: 0;
  line-height: 1.3;
  padding-bottom: 8px;
  padding-top: 15px;
}

.event-banner-message p {
  margin: 0;
  padding-bottom: 25px;
  line-height: 1.3;
  width: 85%;
}

.spacing {
  margin-bottom: 120px;
}
